.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f0f4f7;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0aec0;
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #718096;
}

.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background-color: #4a5568;
  border-color: #cbd5e0;
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background-color: transparent;
}
