@tailwind base;
@tailwind components;
@tailwind utilities;

:where(.css-dev-only-do-not-override-m4timi).ant-layout .ant-layout-sider {
  background-color: #e5e7eb;
}

.hide-scrollbar {
  overflow-y: scroll;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.hide-choose-file {
  display: none !important;
}
